@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

#title{
    color: #000;
    font-family: Inter;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#description{
    color: #000;
    font-family: Inter;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#dateTime{
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.65;
}

#moreInfo{
    border-radius: 39px;
    border: 1px solid #4178E3;
    background: rgba(255, 255, 255, 0.00);
}

#seeMore{
    color: #4178E3;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}