@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
.top{
    margin-top: 10px;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}
.wrap{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    max-width: 1100px;
    margin: auto;
    margin-top: 50px;
     
 
}
.text{
    margin-top: 10px;
    font-size: 30px;
}
.imgbox{
    width:100%;
    height: 300px;
}
.social{
    margin-top: -270px;
    
    border-radius: 0 20px 20px 0 ;
    position: absolute;
    
     
     
}
#first{
    height: 10px;
}
.ap{
    display: flex;
    margin: 5px;
 
     
    position: relative;
    text-decoration: none;
    font-size:15px;
   
    padding: 5px;
}

.fa-facebook{
    line-height: 30px;
    width:10px;
    height: 10px;
    position: relative;
    text-align: center;
     
}
.fa:hover{
    line-height: 30px;
    width:30px;
    height: 50px;
    position: relative;
    text-align: center;
     
}
.text{
    text-align: center;
    color:#fff;
}
.pa{
    font-size:20px;
    margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
    .box {
        margin-bottom: 20px;
    }

    /* .social {
        position: static;
        margin-top: 10px;
        border-radius: 10px;
    } */
}
.box {
    background-color: #01082e;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    /* transition: box-shadow 0.3s ease-in-out; */
}



  .social_icon li {
    display: inline-block;
    margin: 0 5px;
  }
  .social_icon li a {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #fff;
    color: #000;
    text-align: center;
    border-radius: 100%;
    transition: 0.2s ease-in-out;
  }
  .social_icon li a i {
    font-size: 15px;
    line-height: 20px;
  }
  .social_icon li:nth-child(1) a {
    background: #4267b2;
    color: #fff;
  }
  .jo{
    display:inline-block;
    
  }
  .yo a{

    margin-bottom: 10px;
    padding-left: 7px;
    width: 25px;
    height: 25px;
    background: #fff;
    color: #000;
    text-align: center;
    border-radius: 100%;
    transition: 0.2s ease-in-out;
    background: #4267b2;
    color: #fff;
   
  }
  .yo2 a{
    margin-bottom: 10px;
    padding-left: 6px;
    width: 25px;
    height: 25px;
    background: #fff;
    color: #000;
    text-align: center;
    border-radius: 100%;
    transition: 0.2s ease-in-out;
    background: #1da1f2;
    color: #fff;
   
  }
  .yo3 a{
    margin-bottom: 10px;
    padding-left: 6px;
    width: 25px;
    height: 25px;
    background: #fff;
    color: #000;
    text-align: center;
    border-radius: 100%;
    transition: 0.2s ease-in-out;
    background: #4267b2;
    color: #fff;
   
  }
  .yo4 a{
    margin-bottom: 10px;
    padding-left: 6px;
    width: 25px;
    height: 25px;
    background: #fff;
    color: #000;
    text-align:right;
    border-radius: 100%;
    transition: 0.2s ease-in-out;
    background: #f09433;
    background: -moz-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: -webkit-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    color: #fff;
  
   
  }

  .social_icon li:nth-child(2) a {
    background: #1da1f2;
    color: #fff;
  }
  .social_icon li:nth-child(3) a {
    background: #f09433;
    background: -moz-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: -webkit-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    color: #fff;
  }
  .social_icon li:nth-child(4) a {
    background: #ff0000;
    color: #fff;
  }
  .yo:hover  a{
    background: #fff;
    color: #4267b2;
  }
  .yo2:hover a {
    background: #fff;
    color: #1da1f2;
  }
  .yo4:hover a {
    background: #fff;
    color: #bc1888;
  }
  .yo3:hover a{
    background: #fff;
    color: #4267b2;
  }